<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>View Employee</h3>
<p>
  <a th:href="@{/employee}">
    Back to employee list
  </a>
</p>
<div id="detail">
  <div class="empdetail">
    <label>Name:</label>
    <label th:text="${employee.name}"></label>
  </div>
  <div class="empdetail">
    <label>Email:</label>
    <label th:text="${employee.email}"></label>
  </div>
  <div class="empdetail">
    <label>Address:</label>
    <label th:text="${employee.address}"></label>
  </div>
</div>
</body>
</html>